@import url(global.css);



header{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: var( --color-cyan);
    padding: 14px;
    gap: 15px ;
    color: var( --bg-color);
}