*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #0a0a0a;
    color: #fff;
}

h1{
    text-align: center;
    margin: 10px;
}   

p{
    text-align: center;
    margin: 10px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* quebra a linha em telas pequenas */
    margin: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #1a1a1a;
    border-bottom: 1px solid #d1d1d1;
}

.card:hover{
    background-color: #2a2a2a;
    transition: .5s;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}