@import url(global.css);


header{
    background-color: var(--color-cyan);
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 14px;
    color: var(--color-black);
    align-items: center;
}

a{
    text-decoration: none;
    color: var(--color-black);
}

main{
    display: flex;
    gap: 191px;
    justify-content: center;
    align-items: center;
}


.section-main h2{
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    width: 587px;
}

.section-main p{
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    width: 564px;
    margin-bottom: 25px;
}

.btn-primary{
    background-color: var(--color-cyan);
    padding: 15px 20px;
    border-radius: 10px;
    color: var(--color-white);
}

.btn-secondary{
    border: 2px solid var(--color-cyan);
    border-radius: 10px;
    padding: 15px 20px;
    color: var(--color-cyan);
}

.btn a{
    text-decoration: none;
}

.btn ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}

.btn li{
    text-decoration: none;
    list-style: none;
}

.section-main span{
    color: var(--color-cyan);
}

nav li{
    display: flex;
    gap: 20px;
}

.btn-primary:hover{
    background-color: #096270;
    transition: 0.6s;
}

.btn-secondary:hover{
    background-color: #076a79;
    transition: 0.6s;
}

span{
    color: var(--color-cyan);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}